.form-edit-wrapp {
    padding: 0px 20px;
}

h3 {
    color: #3f7ed0;
    padding: 20px 0px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: inline-block;
    color: #333;
    vertical-align: top;
    min-width: 120px;
}

.form-control input {
    height: 25px;
    line-height: 31px;
    padding: 3px 5px;
}

.form-control textarea {
    padding: 5px 5px;
}

.label-priority, .label-status {
    vertical-align: middle !important;
}

.form-edit-wrapp form button {
    width: 60px;
    height: 30px;
    background: #3f7ed0;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}
